
body {
  height: 100vh;
  background-color: #e9e9ef;
}

label {
  color: #59677a !important;
}
input,
textarea,
fieldset {
  border-color: #59677a !important;
}

button:hover,
button:focus {
  background-color: #65bace !important;
}

.listIconTask button:focus svg,
.listIconTask button:hover svg {
  color: #fff;
}